#suporte {
    overflow: hidden;
}

#suporte .content {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 2rem;

    margin-top: 2rem;
}

#suporte .content .border {
    height: 100%;
    border-radius: 1.2rem;
    padding: .2rem;
}

#suporte .content .border:nth-child(1) {
    background: linear-gradient(45deg, #023c83, #1da4f3, #1da4f3, #000 15%);
}

#suporte .content .border:nth-child(2) {
    background: transparent;
}

#suporte .content .border:nth-child(3) {
    background: linear-gradient(360deg, #023c83, #1da4f3, #1da4f3, #000 5%);
}

#suporte .whatsapp {
    display: flex;
    align-items: center;
    gap: 1rem;

    background: linear-gradient(45deg, #000e1a, #010307);
    border-radius: 1rem;
    padding: 2rem;
    height: 100%;
}

#suporte .whatsapp ion-icon {
    font-size: 2.8rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gradient);
    color: #fff;
}

#suporte .whatsapp p {
    font-size: 1.4rem;
    text-align: left;
    font-weight: 400;
    color: #fff;
}

#suporte .whatsapp p span {
    color: var(--primary-color);
}

#suporte .image {
    height: 100%;
}

#suporte .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

#suporte .ajuda {
    background: linear-gradient(-45deg, #000e1a, #010307);
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
    height: 100%;
}

#suporte .ajuda > span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #21c900;

    display: flex;
    align-items: center;
    gap: .5rem;
} 

#suporte .ajuda > span ion-icon {
    font-size: 1.8rem;
}

#suporte .ajuda h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-block: .5rem;
} 

#suporte .ajuda h3 span {
    color: var(--primary-color);
}

#suporte .ajuda p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #929292;
} 

#suporte .ajuda a {
    text-decoration: none;
} 

#suporte .ajuda a button {
    margin-top: 2rem;

    border: none;
    background: var(--gradient);
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 1rem;

    transition: all 200ms ease-in-out;
} 

#suporte .ajuda a button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px #131313;
    filter: brightness(1.1);
}

#suporte .ajuda a button img {
    width: 3rem;
}
  
  @media (min-width: 1080px) {
    div#suporte {
        margin-top: 2rem;
    }
    
    div#suporte .content {
        gap: 2rem;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.5fr 1fr;

        margin-top: 0;
    }

    div#suporte .whatsapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 4rem;
    }

    div#suporte .whatsapp p {
        text-align: center;
    }

    div#suporte .image img {
        aspect-ratio: 16/7;
        height: 100%;
    }

    div#suporte .ajuda {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #suporte .content .border:nth-child(2) {
        background: transparent;
    }

    #suporte .content .border:nth-child(1) {
        background: linear-gradient(45deg, #023c83, #1da4f3, #1da4f3, #000 30%);
    }
    
    #suporte .content .border:nth-child(3) {
        background: linear-gradient(-45deg, #023c83, #1da4f3, #1da4f3, #000 30%);
    }
}