footer {
    background: var(--bg-black);
    overflow: hidden;
    position: relative;

    padding-block: 8rem;
}

footer::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1.1px;
    background: linear-gradient(to right, transparent, #023c83, #0080c9, #023c83, transparent);
}

footer img.logo {
    width: 15rem;
    margin-bottom: 2rem;
}

footer .content {
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer .content h3 {
    font-size: 1.6rem;
    color: #ffffff;  
    font-family: var(--ncs);
    text-transform: uppercase;
    font-weight: 500;
    font-weight: 900;
}

footer .content p {
    font-weight: 300;
    font-size: 1.6rem;
    color: #d2d2d2;
}

footer .content p a {
    color: #d2d2d2;
    text-decoration: none;
}

a[href^="tel"] {
    color: inherit; 
    text-decoration: none;
}

footer div.redes-sociais .icons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
}

footer div.redes-sociais a {
    text-decoration: none;
}

footer .redes-sociais ion-icon {
    color: #d2d2d2;
    font-size: 2rem;
} 

@media (min-width: 1080px) {
    footer#footer img.logo {
        margin-bottom: 0;
    }

    footer#footer .wrapper .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        gap: 10rem;
    }

    footer#footer .wrapper div {
        gap: 1rem;
    }

    footer#footer .wrapper div.redes-sociais {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }

    footer#footer a {
        transition: all 200ms ease-in-out;
    }

    footer#footer a:hover {
        color: #fff;
        transform: scale(1.1);
        cursor: pointer;
    }

    footer#footer .redes-sociais ion-icon {
        font-size: 3rem;
        transition: all 400ms ease-in-out;
        border-radius: 50%;

        padding: .8rem;
    }

    footer#footer div.redes-sociais .icons {
        gap: .5rem;
    }

    footer#footer .redes-sociais ion-icon:hover {
        background: var(--gradient);
        line-height: 0;
    }
}  
