
/* NAVIGATION =================== */

nav {
    display: flex;
  
    height: var(--nav-height);
  
    position: fixed;
  
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(23, 23, 23, 0.273);
    border-radius: 0;
    border: 3px solid rgba(63, 63, 63, 0.125);
  
    width: 100vw;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav button path {
    stroke: var(--color-text);
  }
  
  nav path {
    stroke: var(--color-text);
  }

  nav a.logo {
    width: initial;
  }
  
  nav .logo img {
    width: 11rem;
  }
  
  nav button {
    background: none;
    border: none;
  }
  
  nav button:hover {
    background: transparent;
  }
  
  nav .menu,
  nav .close-menu {
    position: fixed;
  }
  
  /* NAVIGATION ON SCROLL =================== */
  nav.scroll {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 0;
    border: 1px solid rgba(63, 63, 63, 0.125);
  }
  
  nav.scroll path {
    stroke: var(--color-text);
  }
  
  /* MENU EXPANDED =================== */
  body.menu-expanded {
    overflow: hidden;
  }
  
  .menu,
  .close-menu,
  body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
  }
  
  body.menu-expanded .menu,
  body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu {
    transform: translateY(-100%);
  }
  
  body.menu-expanded .menu {
    top: 0;
    right: 0;
  
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.832);
    border-radius: 0;
    border: 1px solid rgba(63, 63, 63, 0.125);
  
    width: 100vw;
    height: 60vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    padding-top: var(--nav-height);
  
    transition: transform 400ms ease-out;
    transform: translateY(0);
  }
  
  .menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-weight: 400;
    font-size: 1.6rem;
  } 
  
  .menu ul li a {
    color: #Fff;
    font-family: var(--tts);
    font-weight: 500;
    text-decoration: none;
  
    transition: all 200ms ease-in-out;

  }
  
  .menu ul li a:hover {
    color: var(--primary-color);
  }
  
  .menu .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .menu .buttons button {
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
  }
  
  .menu .buttons button:hover {
    background-color: transparent;
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }
  
  body.menu-expanded .logo,
  body.menu-expanded nav button {
    position: relative;
    z-index: 100;
  }
  
  body.menu-expanded button path {
    stroke: var(--color-text);
  }

  body nav#navigation button#navButton {
    color: #Fff;
    filter: none;
    font-family: var(--tts);
    font-weight: 500;
  }
  
  @media (min-width: 1080px) {
    /* reset =================== */
      nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-weight: initial;
        font-size: initial;
        transform: initial;
        color: initial;
        background-color: initial;
      }
  
      nav#navigation {
        width: calc(100% - 200px);
        left: 100px;
        border-radius: 2rem;
        top: 3rem;
        height: 6rem;
      }

      nav#navigation .logo img {
        width: 9rem;
      }

      body nav#navigation button#navButton {
        font-size: 1.2rem;
      }
    
      nav#navigation .close-menu,
      nav#navigation .open-menu,
      nav#navigation .social-links {
        display: none;
      }
    
      nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    
      nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;

      } 

      nav#navigation .menu ul li {
        margin-top: .5rem;
      }

      nav#navigation .menu ul li a {
        color: #ffffffce;
        font-family: var(--tts);
        font-weight: 500;

        font-size: 1.2rem;
        
      }
  
      nav#navigation .menu ul li a:hover {
        color: var(--primary-color);
        opacity: 1;

        background: linear-gradient(45deg, #1da4f3, #056ba6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      nav#navigation .menu a {
        color: #fff;
        text-decoration: none;
      }
  
      nav#navigation .menu .buttons {
        display: flex;
        gap: 2rem;
      }

  
      nav#navigation .menu a button {
        background: var(--gradient);
        border-radius: .5rem;
        padding: 1rem 3rem;
  
        transition: all 300ms ease-in-out;
        font-weight: 700;
        
        box-shadow:  10px 10px 50px #292929a8,
             -10px -10px 50px #373737ad;
  
        position: relative;
        outline: none;
      }
  
      nav#navigation .menu .buttons a:nth-child(1) button:hover {
        cursor: pointer;
        outline: none;
        border: none;
        animation: gradient 2s ease infinite;
        filter: brightness(1.4);
        transform: scale(1.05);
      }
  
      nav#navigation.scroll .menu a button {
        opacity: .9;
      }
  
      nav#navigation .menu ul li:nth-child(6) {
        animation: entering 400ms ease-in-out backwards;
      }
  
      nav#navigation .menu ul li:nth-child(5) {
        animation: entering 400ms ease-in-out;
        animation-delay: 200ms;
      }
  
      nav#navigation .menu ul li:nth-child(4) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 400ms;
      }
  
      nav#navigation .menu ul li:nth-child(3) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 600ms;
      }
  
      nav#navigation .menu ul li:nth-child(2) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 800ms;
      }
    
      nav#navigation .menu ul li:nth-child(1) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 1000ms;
      }
    
    
      nav#navigation .menu li a {
        transition: all 300ms;
        color: var(--color-text);
      }
    
      nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 3px;
        background: linear-gradient(to right, transparent, #023c83, #0080c9, #023c83, transparent);
    
        position: relative;
        bottom: -1.5rem;
        left: -1rem;
        display: block;
    
        transition: width 200ms ease-in-out;
      }
    
      nav#navigation .menu li a:hover::after {
        padding-inline: 1rem;
        width: 100%;
      }
    }
  
    @media (min-width: 1700px) {
      nav#navigation {
        width: calc(100% - 340px);
        left: 170px;
      }

      nav#navigation .wrapper {
        padding-inline: 5rem;
      }

      nav#navigation .menu {
      }
    }
  
  /* ANIMATIONS =================== */
  
  @keyframes entering {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }