
.planos.white.blur {
    user-select: none !important;
}

.planos.white.blur .textBlur {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.planos.white.blur .textBlur h2 {
    font-size: 3.2rem;
    line-height: 1;

    background: linear-gradient(45deg, #0a5f91, #000, #000, #0c659d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.planos.white.blur .card .topics p::before {
    display: none;
}

.planos.white.blur::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 2;

    backdrop-filter: blur(3px) saturate(108%);
    -webkit-backdrop-filter: blur(3px) saturate(108%);
    background: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.836);
}

.planos.white img.cadeado {
    width: 6rem;
    margin-bottom: 2rem;
}

@media (min-width: 1080px) {
    section.planos.white.blur .textBlur h2 {
        font-size: 5rem;
        line-height: 1;
    }
}