.Popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.Popup-content {
  background: transparent;
  border-radius: 1rem;
  overflow: hidden;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);

  max-width: 90%;
}

.Popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 34px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

/* Ativo */
.Popup-overlay.active {
  display: flex;
}

.Popup-content.active {
  transform: translateY(0);
  opacity: 1;
}

.Popup-content img {
    width: 100%;
}

@media (min-width: 768px) {
    .Popup-content {
        max-width: 50%;
    }
}

@media (min-width: 1080px) {
    .Popup-content {
        max-width: 30%;
    }
}