#divisa {
    position: relative;
    overflow: hidden;

    padding-top: 10rem;
}

#divisa .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#divisa .cards .borderCard {
    width: 100%;
    padding: .2rem;
    border-radius: 1.2rem;
}

#divisa .cards .card {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-block: 3rem;
    border-radius: 1rem;


    display: flex;
    align-items: center;
    flex-direction: column;
}

#divisa .cards .borderCard:nth-child(1) {
    background: linear-gradient(130deg, #023c83, #1da4f3, #1da4f3, #000 30%);
}

#divisa .cards .borderCard:nth-child(2) {
    background: transparent;
}

#divisa .cards .borderCard:nth-child(3) {
    background: linear-gradient(50deg, #023c83, #1da4f3, #1da4f3, #000 30%);
}

#divisa .cards .borderCard:nth-child(1) .card,
#divisa .cards .borderCard:nth-child(3) .card {
    background: linear-gradient(130deg, #001120, #01050b);
}


#divisa .cards .borderCard:nth-child(2) .card {
    background: linear-gradient(to right, #001120, #01050b);
    position: relative;
}

#divisa .cards .borderCard:nth-child(2) .card::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(-130deg, #023c83, #1da4f3, #1da4f3, #023c83);
    bottom: 0;
}

#divisa .cards .card h3 {
    font-size: 3rem;
    margin-top: 1rem;
    line-height: .8;
    color: #d2d2d2;
    font-family: var(--ncs);
    text-transform: uppercase;
}

#divisa .cards .card h3 span {
    font-size: 4rem;
    background: linear-gradient(130deg, #023c83, #1da4f3, #023c83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#divisa .cards .card p {
    font-size: 1.4rem;
    font-weight: 300;
    color: #aaaaaa;
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media (min-width: 1080px) {
    section#divisa {
        padding-top: 0;
        margin-top: 0;

        padding-bottom: 6rem;
    }

    section#divisa .cards .card {
        padding: 2rem;
        padding-block: 5rem;
    }

    section#divisa .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    section#divisa .cards .card h3 {
        font-size: 3rem;
    }

    section#divisa .cards .card h3 span {
        font-size: 5rem;
    }

    section#divisa .cards .borderCard:nth-child(1) {
        background: linear-gradient(168deg, #023c83, #1da4f3, #1da4f3, #000 30%);
    }
    
    section#divisa .cards .borderCard:nth-child(2) {
        background: transparent;
    }
    
    section#divisa .cards .borderCard:nth-child(3) {
        background: linear-gradient(-168deg, #023c83, #1da4f3, #1da4f3, #000 30%);
    }
    
    section#divisa .cards .borderCard:nth-child(1) .card {
        background: linear-gradient(168deg, #001120, #01050b);
    }
    
    
    section#divisa .cards .borderCard:nth-child(3) .card {
        background: linear-gradient(-168deg, #001120, #01050b);
    }
    
    section#divisa .cards .borderCard:nth-child(2) .card {
        background: linear-gradient(to bottom, #001120, #01050b);
        position: relative;
    }
    
    section#divisa .cards .borderCard:nth-child(2) .card::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(-130deg, #023c8336, #1da4f3, #1da4f3, #023c8336);
    }
    
}

@media (min-width: 1700px) {

}