#numeros {
    overflow: hidden;
    position: relative;
}

#numeros::before,
#numeros::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, transparent, #023c83, #0080c9, #023c83, transparent);
    z-index: 2;
}

#numeros::after {
    top: initial;
    bottom: 0;
}

#numeros img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

#numeros .content {
    position: relative;
    z-index: 1;
}

#numeros .timeline {
    position: relative;
}
  
#numeros .line-wrapper {
    position: absolute;
    left: 70px;
    top: 0;
    bottom: 0;
    width: 2px;
}
  
#numeros .line-base {
    position: absolute;
    width: 3px;
    background: #ffffff42;
    height: 100%;
    z-index: 1;
}
  
#numeros .line-progress {
    position: absolute;
    width: 3px;
    background: #0080c9;
    height: 0%;
    z-index: 2;
    transform-origin: top;

    filter: drop-shadow(0 0 20px #1da5f349);
}
  
#numeros .step {
    display: flex;
    gap: 8rem;
    margin-bottom: 50px;
    position: relative;
}

  
#numeros .circle {
    width: 16px;
    height: 16px;
    background: #a9a9a9;
    border-radius: 50%;
    position: absolute;
    left: 64px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 3;
    transition: background 0.3s ease;
}
  
#numeros .circle.active {
    background: #0080c9;
    filter: drop-shadow(0 0 20px #1da5f349);

    border: 2px solid #b7d4f7;
}
  
#numeros .contentStep {
    opacity: 0;

    display: flex;
    align-items: center;
    gap: 8rem;
}
  
#numeros .contentStep h2 {
    font-size: 6rem;
    margin: 0;
    line-height: 1;
    font-family: var(--ncs);

    background: linear-gradient(to bottom, #023c83, #0080c9, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0 0 20px #1da5f349);
}

#numeros .contentStep h2.um {
    margin-left: 10px;
}
  
#numeros .contentStep p {
    font-size: 1.4rem;
    color: #d1e0ff;
    text-align: left;
}
  
@media (min-width: 1080px) {
    section#numeros .content {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        align-items: start;
        gap: 12rem;
    }

    section#numeros header {
        text-align: left;
        align-items: start;
        justify-content: start;
    }

    section#numeros header p {
        width: 70%;
    }

    section#numeros .line-base {
    }
}

@media (min-width: 1700px) {
    section#numeros .content header h2 {
        font-size: 3.5rem;
    }
}