.tarjaImage img {
    width: 100%;
}

.tarjaImage img.desktop {
    display: none;
}

#home.activeTarjaImage {
  padding-top: 15.2rem;
}

#home.activeTarjaImage .image img.mobile {
    top: 18%;
}

#navigation.activeTarjaImage {
    /* top: 7rem; */
    top: 13rem;
}

.countdown--promo {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 1.7rem;
      font-weight: 700;

      background: #ffffff;
      padding-block: .5rem;
}

.countdown--promo div {
      display: flex;
      align-items: end;
      color: #000000;
}

.countdown--promo .label {
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: -1px;
}

.tarjaImage h3 {
    color: #fff;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    background: linear-gradient(45deg, #667EEA, #764BA2);


}

@media (min-width: 1080px) {
    nav#navigation.activeTarjaImage {
        /* top: 8.5rem; */
        top: 12rem;
        border-radius: 0 0 2rem 2rem;
    }

    div.tarjaImage {
        width: calc(100% - 200px);
        left: 100px;
        top: 2rem;
    }

    div.tarjaImage img {
        border-radius: 2rem 2rem 0 0;
        border-radius: 0;
    }

    div.tarjaImage img.mobile {
        display: none;
        
    }

    div.tarjaImage img.desktop {
        display: inherit;
    }

    div.tarjaImage h3 {
        position: absolute;
        width: max-content;
        padding: .5rem 3rem;
        font-size: 1rem;
        top: 14%;
        z-index: 101;
        left: 25%;
        transform: translate(0, -50%);
        border-radius: .5rem;
        font-weight: 500;

        margin-top: 0;
    }

    /* asasa */
}

@media (min-width: 1700px) {
      div.tarjaImage {
        width: calc(100% - 340px);
        left: 170px;
        top: 2rem;
      } 

      nav#navigation.activeTarjaImage {
        /* top: 8.7rem; */
        top: 13rem;

    }
}

@media (min-width: 2500px) {
    nav#navigation.activeTarjaImage {
        /* top: 10.5rem; */
        top: 14rem;
    }
}